header {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:var(--clr-light);

}

.logo_landing img {
    max-width: 200px;
    height: 200px;
}

.navbar_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: center;


}
.navbar_menu ul{
    display: flex;

}

.navbar_menu ul li{
padding: 10px;
}

.navbar_menu a {
    color: var(--clr-dark);
    font-size: 20px;
    font-weight: 400;
    transition: color 0.3s;
    transition: all 0.5s ease;
    cursor: pointer
}

.navbar_menu a:hover {
    color: var(--clr-darkrose);
    letter-spacing: 2px;
}


.icons_menu i {

    color: var(--clr-dark);
    font-size: 25px;
    font-weight: 400;
    transition: all 0.5s ease;
    cursor: pointer;
}

.icons_menu i:hover {
    transform: scale(1.1);
    color: var(--clr-darkrose);
}

