header {
    padding: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-light);
    padding: 20px 10%;
}

.logo_landing img {
    max-width: 200px;
    height: auto;
}

.navbar_menu {
    display: flex;
}

.navbar_menu a {
    color: var(--clr-dark);
    font-size: 20px;
    font-weight: 400;
    padding: 10px 20px;
    transition: color 0.3s;
    transition: all 0.5s ease;
    cursor: pointer
}

.navbar_menu a:hover {
    color: var(--clr-darkrose);
    letter-spacing: 2px;
}

.icons_menu {
    display: flex;
    align-items: center;
}

.icons_menu i {
    margin-right: 20px;
    color: var(--clr-dark);
    font-size: 25px;
    font-weight: 400;
    transition: all 0.5s ease;
    cursor: pointer;
}

.icons_menu i:hover {
    transform: scale(1.1);
    color: var(--clr-darkrose);
}

#icon_menu{
    color: var(--clr-dark);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
}