@media screen and (max-width: 1000px) {

    header {
        padding: 0%;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0%;
    }

    .navbar_menu {
        flex-direction: column;

    }

    .navbar_menu ul {
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-content: center;

    }

    .navbar_menu a {
        padding: 5%;

    }

    .jumbotron {
        height: fit-content;
        display: flex;
        justify-content: center;
        padding: 50px;

    }

    .jumbotron_texto {
        display: flex;
        flex-direction: column;
        background-color: rgba(240, 248, 255, 0.514);
    }

    .jumbotron_texto h1 h4 p {
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-align: center;

    }

    section {
        padding: 0%;
    }

    .jumbotron_texto form {
        max-width: 80%;
        padding: 20px;
    }


    .best-sellers {
        padding-bottom: 10%;
    }

    .item_card {
        padding-left: 10%;
        padding-right: 10%;

    }

}

@media screen and (max-width: 700px) {

    .jumbotron {
        height: auto;
        display: flex;
        padding: 5%;
    }

    .jumbotron_texto {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: rgba(240, 248, 255, 0.514);

    }

    .jumbotron_texto h4 {
        font-size: 12px;
        transition: .5s;
        text-align: center;
    }

    .jumbotron_texto h1 {
        font-size: 50px;
        transition: .5s;
    }

    .navbar_menu a {
        font-size: medium;

    }


    .jumbotron_texto p {
        font-size: 10px;
        transition: .5s;
        text-align: center;
    }

    .jumbotron_texto form {
        max-width: 40%;


    }


    .bs-titulo h2 {
        font-size: 40px;

    }

}

@media screen and (max-width: 430px) {

    /*Seccion Header*/
    header {
        justify-content: space-around;

    }

    .logo_landing {
        display: none;
    }
/*Seccion jumbotron*/

    .jumbotron {
        width: auto;
        height: auto;
        display: flex;

    }

/*Seccion productos*/
    .best-sellers {
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .bs-titulo h2 {
        font-size: 30px;
    }

    .item_card {
        grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));

    }

    .descripción-libro h4 {
        font-size: 15px;
    }

    .clasificación-producto{
        display: none;

    }

    .producto-info {
        font-size: 12px;

    }

/*Seccion beneficios*/

    .bnf-titulo-principal h3 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .bnf-explicacion {
        font-size: 15px;

    }
    
/*Seccion Footer*/

    .contacto{
        padding-top: 5%px;
        padding-right: 2%;
        padding-left: 2px;
    }

    .informacion_contacto{
        grid-template-rows: repeat(auto-fit, minmax(50px, auto));
        padding-right: 3%;
        padding-left: 3%;
        gap: 4%;
    
    }

    .informacion_contacto h3{
        font-size: 25px;
    }


    .bloque1 img{
        display: none;
    }

    .bloque4 ul li img{
            height: 60px;
            width: 100px;
        }
}