
/*LAPTOP L LISTO, EXCEPTO POR LAS COLUMNAS*/
@media(max-width:1440px) {

    header{
        padding: 20px 3%;
        transition: 0.4;
    }

    .logo_landing img {
        max-width: 200px;
        height: auto;
        transform: 0.4s;
    }

    section{
        padding: 5% 5%;
    }

    .jumbotron_texto h4 {
        font-size: 16px;
        transition: .5s;
    }

    .jumbotron_texto h1 {
        font-size: 80px;
        transition: .5s;
    }

    .jumbotron_texto p {
        font-size: 13px;
        padding: 0px;
        transition: .5s;
    }

    .jumbotron_texto form {
        max-width: 20rem;
        padding-top: 20px;
        gap: 5px;
    }

}

/*LAPTOP NORMAL LISTA EXCEPTO POR LAS COLUMNAS*/
@media (max-width:1024px) {

    header{
        padding: 20px 3%;
        transition: 0.4;
    }

    .logo_landing img {
        max-width: 150px;
        height: auto;
        transform: 0.4s;
    }

    section{
        padding: 5% 5%;
    }

    .jumbotron_texto h4 {
        font-size: 16px;
        transition: .5s;
    }

    .jumbotron_texto h1 {
        font-size: 80px;
        transition: .5s;
    }

    .jumbotron_texto p {
        font-size: 13px;
        padding: 0px;
        transition: .5s;
    }

    .jumbotron_texto form {
        max-width: 20rem;
        padding-top: 20px;
        gap: 5px;
    }

}

/*TABLET LISTO, TODO OK*/
@media(max-width:768px) {
    header {
        padding: 20px 3%;
        transition: .5s;
    }

    .logo_landing img {
        width: 50px;
    }

    .navbar_menu a {
        font-size: 15px;
        padding: 5px 10px;

    }

    .icons_menu i {
        margin-right: 15px;
        font-size: 15px;
        font-weight: 400;
    }


    .jumbotron_texto h4 {
        font-size: 10px;
        padding: 0px;
        transition: .5s;
    }

    .jumbotron_texto h1 {
        font-size: 48px;
        padding: 0px;
        transition: .5s;
    }

    .jumbotron_texto p {
        font-size: 8px;
        padding: 0px;
        transition: .5s;
    }

    .jumbotron_texto form {
        max-width: 40%;
        padding-top: 20px;
        gap: 5px;
    }

    #email {
        border: 1px solid var(--clr-darkrose);
        width: 300px;
        height: 40px;
        padding-right: 0.5em;
    }

}

/*TELEFONO L LISTO EXCEPTO POR LA LINEA AL COSTADO*/
@media(max-width:425px) {

    header {
        padding: 20px 3%;
        transition: .5s;
    }

    .logo_landing img {
        display: none;
    }

    section{
        padding: 3% 3%;
    }

    .jumbotron_texto{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: rgba(240, 248, 255, 0.514);
        height: 375px;
    }

    .navbar_menu a {
        font-size: 10px;
        padding: 5px 5px;

    }

    .icons_menu i {
        margin-right: 10px;
        font-size: 10px;
        font-weight: 400;
    }


    .jumbotron_texto h4 {
        font-size: 12px;
        transition: .5s;
        text-align: center;
    }

    .jumbotron_texto h1 {
        font-size: 50px;
        transition: .5s;
    }

    .jumbotron_texto p {
        font-size: 10px;
        transition: .5s;
        text-align: center;
    }

    .jumbotron_texto form {
        max-width: 40%;
        padding-top: 30px;
        gap: 5px;
    }

    #email {
        border: 1px solid var(--clr-darkrose);
        width: 300px;
        height: 40px;
        padding-right: 0.5em;
    }
}


@media(max-width:375px) {
    header {
        padding: 20px 3%;
        transition: .5s;
    }

    .logo_landing img {
        display: none;
    }

    section{
        padding: 3% 3%;
    }

    .jumbotron_texto{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: rgba(240, 248, 255, 0.514);
        height: 375px;
    }

    .navbar_menu a {
        font-size: 10px;
        padding: 5px 5px;

    }

    .icons_menu i {
        margin-right: 10px;
        font-size: 10px;
        font-weight: 400;
    }


    .jumbotron_texto h4 {
        font-size: 12px;
        transition: .5s;
        text-align: center;
    }

    .jumbotron_texto h1 {
        font-size: 50px;
        transition: .5s;
    }

    .jumbotron_texto p {
        font-size: 10px;
        transition: .5s;
        text-align: center;
    }

    .jumbotron_texto form {
        max-width: 40%;
        padding-top: 30px;
        gap: 5px;
    }

    #email {
        border: 1px solid var(--clr-darkrose);
        width: 300px;
        height: 40px;
        padding-right: 0.5em;
    }
}


@media(max-width:320px) {
    header {
        padding: 20px 3%;
        transition: .5s;
    }

    .logo_landing img {
        display: none;
    }

    section{
        padding: 2% 2%;
    }

    .jumbotron_texto{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: rgba(240, 248, 255, 0.514);
        height: 320px;
    }

    .navbar_menu a {
        font-size: 10px;
        padding: 2px 2px;

    }

    .icons_menu i {
        margin-right: 10px;
        font-size: 10px;
        font-weight: 400;
    }


    .jumbotron_texto h4 {
        font-size: 7px;
        transition: .5s;
        text-align: center;
    }

    .jumbotron_texto h1 {
        font-size: 50px;
        transition: .5s;
    }

    .jumbotron_texto p {
        font-size: 10px;
        transition: .5s;
        text-align: center;
    }

    .jumbotron_texto form {
        max-width: 40%;
        padding-top: 30px;
        gap: 5px;
    }

    #email {
        border: 1px solid var(--clr-darkrose);
        width: 300px;
        height: 40px;
        padding-right: 0.5em;
    }
}